*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 40px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    
}
.nav-bar{
    height: 100px;
    background-color: brown;
    text-align: center;
    color: white;
}
.content{
   overflow: hidden;
   text-align: center;
   color: white;
}

.left-content{
    height: 500px;
    width: 75%;
    background-color: crimson;
    float: left;
    overflow: hidden;
}
.right-content{
   height: 500px;
   width: 25%;
   background-color: darkkhaki;
   float: left;
}
.top{
    height: 50%;
    background-color: violet;
    float: top;
}
.bottom{
    height: 50%;
    background-color: tomato;
    float: bottom;
}
.footer{
    height: 40px;
    background-color: goldenrod;
    text-align: center;
    color: white;
}